{% extends "Layout.twig" %}
{% block body %}
<form method="post" action="{{ app.url_generator.generate('add') }}">
							<center><table>
								<tbody><tr>
									<td>
										<label for="pseudo">Pseudo : </label>
									</td>
									<td>
										<input type="text" id="pseudo" name="pseudo" value="" style="width:100%"> 
									</td>
								</tr>
								<tr>
									<td>
										<label for="mail">Mail : </label>
									</td>
									<td>
										<input type="email" id="mail" name="mail" value="" style="width:100%"> 
									</td>
								</tr>
								<tr>
									<td>
										<label for="mdp">Mot de passe : </label>
									</td>
									<td>
										<input type="password" id="mdp" name="mdp" style="width:100%"> 
									</td>
								</tr>
								<tr>
									<td></td>
									<td>
										<input type="submit" value="Je m'inscris" style="width:100%" name="form_insc"></td>
									</tr>
								</tbody></table></center>
							</form>


{% endblock %}