<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <link href="{{app.request.basepath}}/src/views/style.css" rel="stylesheet" media="all" type="text/css">
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
