{% extends "Home.twig" %}
{% block body %}
    
    
    <h2>Home</h2>
    <a href="create">Ajouter</a>
    
    {% block articlelist %}
        <ul>
            {% for article in articles %}            

                <li>{{ article.getTitre() }}    </li>        




            {% endfor %}



        </ul>
    {% endblock articlelist %}
{% endblock %}