{% extends "Home.twig" %}
{% block body %}
    
    
    <h2>Home</h2>
    <a href="create">Ajouter</a>
    
    {% block itemlist %}
        <ul>
            {% for item in items %}            

                <li>{{ item.getTitle() }} {% if item.getChecked()==0 %} <input type="checkbox" name="check[]" value="check" disabled > {% else %}<input type="checkbox" name="check[]" value="check" disabled checked>{% endif %}   <a href="remove/{{ item.getId()}}">Suppr.</a>  <a href="check/{{item.getId}}"> Check </a></li>        




            {% endfor %}



        </ul>
    {% endblock itemlist %}
{% endblock %}